# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml
*.sublime-*

#*.sqlite3

#media_root/*
#static_root/*

pmcutils/local_settings.py

#conf/nginx.conf
#conf/uwsgi.ini

#databases/db.sqlite3

# uwsgi socket
#brapi.sock
