Django==2.0.2
django-extensions==1.9.7
django-bootstrap3==9.0.0
#django-bootstrap4==0.0.4
psycopg2>=2.8.*
ipython==6.2.1
beautifulsoup4==4.6.0
lxml==4.9.1
unidecode==0.4.21
psutil>=5.6.6
django-compressor==2.2
django_ratelimit==1.1.0
html5lib==1.0.1
slimit==0.8.1
csscompressor==0.9.5
brotlipy==0.7.0
uwsgi==2.0.15
undecorated==0.3.0
