{% load static %}
{% load bootstrap3 %}
{% load humanize %}

<!doctype html>
<html lang="en">
  <head>
    <title>PMC search and export</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}

    <script src="{% static 'oac_search/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'oac_search/js/js.cookie.js' %}"></script>
    <script src="{% static 'oac_search/js/loadingOverlay.js' %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'oac_search/js/main.js' %}"></script>

    <style>
        #infocolumn {
            color: gray;
        }

        .btm-buffer {
            margin-bottom: 50px;
        }
        textarea {
            min-height: 100px;
            resize: vertical;
        }
    </style>

    <script>
    </script>

  </head>
  <body>


    <div class="container">

        <div class="row btm-buffer">
            <div class="col-md-6 col-md-offset-3">
                <h1>Search & export PMC articles</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" id="infocolumn">
                <h3>Database info</h3>
                <dl>
                    <dt>Archives</dt>
                    <dd>{{ archives.count|intcomma }}</dd>

                    <dt>Articles</dt>
                    <dd>{{ narticles|intcomma }}</dd>

                </dl>

                <h3>Archive versions</h3>
                <dl class="dl">
                    {% for a in archives %}
                        <dt>{{ a.name }}</dt>
                        <dd>{{ a.date }}</dd>
                    {% endfor %}
                </dl>
            </div>


          <div class="col-md-6">

              {# Display django.contrib.messages as Bootstrap alerts #}
              {% bootstrap_messages %}

              <form method="post" role="form" id="searchform">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                {# <button type="submit" class="btn btn-primary">#}
                <button id="searchbutton" type="submit" class="btn btn-primary">
                    {% bootstrap_icon "search" %} search
                </button>
                {% endbuttons %}
              </form>
          </div>

            <div class="col-md-3">
                <h3>Guidelines</h3>
                <ol>
                    <li>
                        Do not specify nested XML tags to take text from or duplicates will occur.
                    </li>
                    <li>
                        Order of XML tags to take text from will determine the order of output text blocks.
                    </li>
                    <li>
                        Ignored XML blocks are deleted prior to the extraction of wanted blocks.
                    </li>
                    <li>
                        attribute-value tag search has the following syntax, e.g.: </br>
                        {# <code>sec sec-type="results"</code>#}
                        <samp>sec sec-type="results"</samp>
                    </li>
                </ol>
            </div>


        </div>
    </div>
  </body>
</html>
