{% load static %}
{% load compress %}
{% load bootstrap3 %}
{% load humanize %}

<!doctype html>
<html lang="en">
  <head>
    <title>PMC search and export</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'oac_search/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'oac_search/css/main.css' %}">
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'oac_search/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'oac_search/js/js.cookie.js' %}"></script>
    <script src="{% static 'oac_search/js/loadingOverlay.js' %}"></script>
    <script src="{% static 'oac_search/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'oac_search/js/bootbox.min.js' %}"></script>
    <script src="{% static 'oac_search/js/sprintf.min.js' %}"></script>
    <script src="{% static 'oac_search/js/main.js' %}"></script>
    {% endcompress %}

  </head>
  <body>


    <div class="container">
        <div class="row btm-buffer">
            <div class="col-md-6 col-md-offset-3">
                <h1>Search & export PMC articles</h1>
            </div>
        </div>

        <div class="row btm-buffer">
            <div class="col-md-3 infotext smallerfonts">
                <h4>Database info</h4>
                <dl>
                    <dt>Archives</dt>
                    <dd>{{ archives.count|intcomma }}</dd>

                    <dt>Articles</dt>
                    <dd>{{ narticles|intcomma }}</dd>

                </dl>

                <h4>Archive versions</h4>
                <dl class="dl">
                    {% for a in archives %}
                        <dt>{{ a.name }}</dt>
                        <dd>{{ a.date }}</dd>
                    {% endfor %}
                </dl>
            </div>


          <div class="col-md-6">

              {# Display django.contrib.messages as Bootstrap alerts #}
              {% bootstrap_messages %}

              <form method="post" role="form" id="searchform">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                {# <button type="submit" class="btn btn-primary">#}
                <button id="searchbutton" type="submit" class="btn btn-primary" title="find, extract, and download articles matching the query">
                    {% bootstrap_icon "search" %} search and export
                </button>
                <button id="querybutton" type="button" class="btn btn-primary" title="find the number of articles matching the query">
                    {% bootstrap_icon "info-sign" %} search
                </button>
                {% endbuttons %}
              </form>

              <div id="results">
                  <hr class="style14">

                  <div id="resultsSection">
                      <h2>Results</h2>
                      <table class="table table-condensed table-bordered">
                          <tr class="text-center">
                            <th>PMC hits</th>
                            <th>found in database</th>
                            <th>empty after XML extraction</th>
                          </tr>
                          <tr>
                            <td id="pmchits"></td>
                            <td id="indb"></td>
                            <td id="empty"></td>
                          </tr>
                      </table>
                  </div>

                  <div id="downloadSection">
                      <h4>Download corpus</h4>
                      <a id="corpuslink" href=""></a><span id="corpusinfo"></span> <br />
                      <a id="xmlziplink" href=""></a><span id="xmlzipinfo"></span>
                   </div>
              </div>

          </div>

            <div class="col-md-3 infotext">
                <h3>Guidelines</h3>
                <ol>
                    <li>
                        Do not specify nested XML tags to take text from or duplicates will occur!
                    </li>
                    <li>
                        Order of XML tags to take text from will determine the order of output text blocks.
                    </li>
                    <li>
                        Ignored XML blocks are deleted prior to the extraction of wanted blocks.
                    </li>
                    <li>
                        Attribute-value tag search is possible and has the following syntax, e.g.: </br>
                        {# <code>sec sec-type="results"</code>#}
                        <samp>sec sec-type="results"</samp>
                    </li>
                </ol>

                <h3>Limitations</h3>
                <ol>
                    <li>
                        Due to NCBI API query limit we also enforce strict limiting: every user is limited to 1 query in 10 seconds, 5 queries per minute, 30 per hour, 200 per day.
                    </li>
                </ol>

            </div>
        </div>

    </div>

    <footer class="footer">
          <div class="container text-center">
            <p class="text-muted">&copy; 2017 <a href="http://kt.ijs.si/vid_podpecan/">Vid Podpečan</a>
                &nbsp;&nbsp; <a href="https://github.com/vpodpecan/pmcutils">[ download source from Github ]</a>
            </br>
                <a href="https://www.ijs.si/ijsw/V001/JSI">Jožef Stefan Institute</a> & <a href="http://www.nib.si/eng/">National Institute of Biology</a>
            </p>
          </div>
        </footer>
  </body>

</html>
